.stack > *+* {
	margin-top: 0;
}

a {
	text-decoration: none;
}

.link {
	color: blue;
}

ul {
	padding-left: 1rem;
	list-style: url('/img/ok.svg');
}

li {
	padding-bottom: 1rem;
}

.eyebrow {
	/* margin-bottom: 0px; */
	color: darkgoldenrod;
}

.eyebrow+* {
	margin-top: 0.5rem;
}

.eyebrow+ul {
	margin-top: 1rem;
}

/* colours */
.pink {
	background: #FF9280;
}

.white {
	color: white;
}


/* layout */


.limitWidth {
	max-width: 900px;
}

/* vertical Spacing */
.gridContainer > * {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.verticalSpace {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* reponsive from 600px onwards */
@media (min-width: 600px) {
.gridContainer > * {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.verticalSpace {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
}

.verticalSpaceLarge {
	padding-top: 3em;
	padding-bottom: 3em;
}

/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
	.verticalSpaceLarge {
		padding-top: 3em;
		padding-bottom: 3em;
	}
}




.gridContainer {
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	
}

/* .outerBorders{
	border-left: solid #d1d1d1 1px;
} */



/* responsive */
/* This applies from 600px onwards */
@media (min-width: 900px) {
	.gridContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		align-content: center;
		grid-gap: 1em;
	}

	.gridTop {
		align-items: initial;
	}

	.gridTop>* {
		margin-top: 0px;
	}

	.gridThree {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


.imageContainer {
	height: 100%;
	width: 100%;
	line-height: 0;
	background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231c1c1c' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */

}

.imageContainer img {
	height: 100%;
	width: 100%;
	max-width: 1050px;
	object-fit: scale-down;
}

.imageContainer video {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}

.imageContain img {
	object-fit: contain;
} 

/* layout */

.gridContainerLeft {
	grid-template-columns: 1fr 2fr;
}

.gridContainerRight {
	grid-template-columns: 2fr 1fr;
}
/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
    .gridContainerRight>*:last-child {
        grid-row: 1;
    }
}

/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
    .gridContainer {
        grid-gap: 1em;
    }
}


/* images */

.imageContainer {
	height: auto;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}
.coverImage > img {
	max-height: 80vh;
}

.cardCentered {
	align-items: center;
}

.gridNoGap {
grid-gap: 0;
}

.innerBorders p{
	margin-right: 2em;
}

/* EXTRAS */

.solid {
	padding: 0.2rem;
}

.verticalSpaceLarge