.stack > *+* {
	margin-top: 0;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 1rem;
	list-style: url('/img/ok.svg');
}

li {
	padding-bottom: 1rem;
}

.eyebrow {
	margin-bottom: 0px;
	color: darkslategray;
}

.eyebrow+* {
	margin-top: 0.5rem;
}

.eyebrow+ul {
	margin-top: 1rem;
}

/* colours */
.pink {
	background: #FF9280;
}

.white {
	color: white;
}


/* layout */


.limitWidth {
	max-width: 1000px;
}


.verticalSpace {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
	.verticalSpace {
		margin-top: 40px;
		margin-bottom: 40px;
	}

}

.verticalSpaceLarge {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
	.verticalSpaceLarge {
		margin-top: 70px;
		margin-bottom: 70px;
	}
}




.gridContainer {
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	border-left: solid #B2B2B2 1px;
}



/* responsive */
/* This applies from 600px onwards */
@media (min-width: 900px) {
	.gridContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		align-content: center;
		grid-gap: 1em;
	}

	.gridTop {
		align-items: initial;
	}

	.gridTop>* {
		margin-top: 0px;
	}

	.gridThree {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


.imageContainer {
	height: 100%;
	width: 100%;
	line-height: 0;
}

.imageContainer img {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}

.imageContainer video {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}

.imageContain img {
	object-fit: contain;
} 

/* layout */

.gridContainerLeft {
	grid-template-columns: 1fr 2fr;
}

.gridContainerRight {
	grid-template-columns: 2fr 1fr;
}
/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
    .gridContainerRight>*:last-child {
        grid-row: 1;
    }
}

/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
    .gridContainer {
        grid-gap: 1em;
    }
}


/* images */

.imageContainer {
	height: auto;
	min-height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.coverImage > img {
	max-height: 80vh;
}

.cardCentered {
	align-items: center;
}

.gridNoGap {
grid-gap: 0;
}