/* layout */

.gridContainerLeft {
    grid-template-columns: 1fr 2fr;
}

.gridContainerRight {
    grid-template-columns: 2fr 1fr;
}
/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
    .gridContainerRight>*:last-child {
        grid-row: 1;
    }
}

/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {
    .gridContainer {
        grid-gap: 3em;
    }
}


/* images */

.imageContainer {
    height: auto;
}


/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {

}


/* responsive */
/* This applies from 600px onwards */
@media (min-width: 600px) {

    .projectContent{
        width: 85vw;
        display: flex;
        flex-flow: column;
        
        align-items: center;
        
    }

}

