body {
  font-size: 100%;
}

/* max width setting */

/* .fullWidthControl {
  max-width: 1200px;
} */

.alien {
  width: 20vw;
  object-fit: contain;
}

@media only screen and (max-width:500px) {
  .alien {
    width: 100%;
  }
}

/* typography */
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('fonts/SpaceGrotesk-Bold.woff');
}

h1,
h2 {
  font-family: 'SpaceGrotesk-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
}

h3,
h4,
h5 {
  font-family: 'DDINRegular';
  font-weight: normal;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

p {
  font-family: 'DDINRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
  margin-left: 1rem;
}

.stack>*+* {
  margin-top: 0;
}


@media only screen and (max-width:1215px) {

  h1 {
    margin-top: 0;
    font-size: 1.802em;
  }

  h2 {
    font-size: 1.602em;
  }

  h3 {
    font-size: 1.424em;
  }

  h4 {
    font-size: 1.266em;
  }

  h5 {
    font-size: 1.125em;
  }

  small,
  .text_small {
    font-size: 0.889em;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width:500px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-left: 0.5rem;
  }

  .emailBox > * {
    margin-left: 0.25rem;
  }

  .tweetBox > * {
    margin-left: 0.25rem;
  }
}



/* whole page fixes */
html,
body {
  margin: 0px;
}

.fullWidthControl {
  margin: 1vw;
}

/* header Grid boxes */
.headerGridContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "nameBox nameBox nameBox nameBox nameBox navBar navBar navBar navBar navBar""aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox drawingBox drawingBox contactBox contactBox contactBox";
}

.contactBox {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "emailBox""tweetBox";
}

@media only screen and (max-width:900px) {
  .headerGridContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 90px auto 1fr;
    grid-template-areas: "nameBox nameBox nameBox nameBox  navBar navBar navBar navBar""aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox""drawingBox drawingBox contactBox contactBox contactBox contactBox contactBox contactBox";
  }

}

@media only screen and (max-width:500px) {
  .headerGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nameBox nameBox""navBar navBar""aboutmeBox aboutmeBox""drawingBox contactBox";
  }
}


.nameBox {
  grid-area: nameBox;
  border: solid #B2B2B2;
  border-width: 1px 1px 1px 1px;
}

.navBar {
  grid-area: navBar;
  border: solid #B2B2B2;
  border-width: 1px 1px 1px 0px;
}

@media only screen and (max-width:500px) {
.navBar {
  border-width: 0px 1px 1px 1px;
}
}

.aboutmeBox {
  grid-area: aboutmeBox;
  border: solid #B2B2B2;
  border-width: 0px 1px 1px 1px;
  background-color: #F5F687;
}

.drawingBox {
  grid-area: drawingBox;
  border: solid #B2B2B2;
  border-width: 0px 1px 1px 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:900px) {
.drawingBox {
  border-width: 0px 1px 1px 1px
} 
}

.contactBox {
  grid-area: contactBox;
}

.emailBox {
  grid-area: emailBox;
  border: solid #B2B2B2 1px;
  background-color: #B96B9F;
  color: white;
}

.tweetBox {
  grid-area: tweetBox;
  border: solid #B2B2B2 1px;
  background-color: #FCFDD8;
}

/* Border fixes */
.contactBorders {
  border: solid #B2B2B2;
  border-width: 0px 1px 1px 0px;
}

.caseBorders {
  border: solid #B2B2B2;
  border-width: 0px 1px 1px 0px;
}

.casesContainer {
  border-left: solid #B2B2B2 1px;
}


.minisContainer {
  border-left: solid #B2B2B2 1px;
}

.miniBorders {
  border: solid #B2B2B2;
  border-width: 0px 1px 1px 0px;
}


/* header centering */

.textCentering {
  text-align: center;
}

.flexVertical {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@media only screen and (max-width:900px) {
  .flexSwitch {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  .flexSwitch>*+* {
    margin-block-start: revert;
  }
}

@media only screen and (max-width:500px) {
  .flexSwitch {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .flexSwitch>*+* {
    margin-block-start: 0;
  }
}

/* Images */

img {
  max-width: 100%;
  max-height: 100%
}

/* CONTENTS */

/* Dividing line between sections */

.divider {
  border: solid #B2B2B2;
  border-width: 1px 1px 1px 1px;
  margin-bottom: 0;
}

.divider+* {
  margin-top: 0;
}

.casesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width:900px) {
  .casesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media only screen and (max-width:500px) {
  .casesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.thumbText>* {
  /* padding-left: 0.5em;
  padding-right: 0.5em; */
  /* max-width: 90%; */
}

/* Cases */

.objectBox {
  padding: 1rem;
}

@media only screen and (max-width:500px) {
  .objectBox {
    padding: 0.5rem;
  }
}


.objectBox>* {
  width: 100%;
  height: 100%;
}


.objectBox:hover {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231c1c1c' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.caseContents {
  border: solid 1px #B2B2B2;
  background: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

@media only screen and (max-width:900px) {
  .caseContents {
    display: inherit;
  }
}


.caseContents>img {
  padding-left: 0em;
  padding-right: 0em;
  min-width: 100%;
}

/* Minis */

.minisContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width:500px) {
  .minisContainer {
    grid-template-columns: repeat(2, 1fr)
  }
}

.minisCase {
  background: white;
  border: 1px #B2B2B2 solid;
  height: 100%;
}

.thumb {
  padding-left: 0em;
  padding-right: 0em;
  min-width: 100%;
}