body {
  font-size: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

body>* {
  max-width: 1650px;
  width: 95%;
  box-sizing: border-box;
}

.alien {
  /* width: 25vw; */
  object-fit: scale-down;
}


a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.stack>*+* {
  margin-top: 0;
}

@media only screen and (max-width:600px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-left: 0.5rem;
  }

  .emailBox>* {
    margin-left: 0.25rem;
    margin-right: 0.25em;
  }

  .tweetBox>* {
    margin-left: 0.25rem;
    margin-right: 0.25em;
  }
}

/* whole page fixes */
html,
body {
  margin: 0px;
}

.topWidthControl {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* header Grid boxes */
.headerGridContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "nameBox nameBox nameBox nameBox nameBox nameBox navBar navBar navBar navBar"
  "aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox drawingBox drawingBox contactBox contactBox";
}

.contactBox {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "emailBox""tweetBox";
}

@media only screen and (max-width:950px) {
  .headerGridContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "nameBox nameBox nameBox nameBox  navBar navBar navBar navBar""aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox""drawingBox drawingBox contactBox contactBox contactBox contactBox contactBox contactBox";
  }

}

@media only screen and (max-width:600px) {
  .headerGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nameBox nameBox""navBar navBar""aboutmeBox aboutmeBox""drawingBox contactBox";
  }
}


.nameBox {
  grid-area: nameBox;
  border: solid #d1d1d1;
  border-width: 1px 1px 1px 1px;
}

.navBar {
  grid-area: navBar;
  border: solid #d1d1d1;
  border-width: 1px 1px 1px 0px;
}

@media only screen and (max-width:600px) {
  .navBar {
    border-width: 0px 1px 1px 1px;
  }
}

.aboutmeBox {
  grid-area: aboutmeBox;
  border: solid #d1d1d1;
  border-width: 0px 1px 1px 1px;
  background-color: #C7FFED;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.drawingBox {
  grid-area: drawingBox;
  border: solid #d1d1d1;
  border-width: 0px 1px 1px 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:950px) {
  .drawingBox {
    border-width: 0px 1px 1px 1px;
  }
}

.contactBox {
  grid-area: contactBox;
}

.contactInners {
  border: solid #d1d1d1 1px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.emailBox {
  grid-area: emailBox;
  background-color: #FF8552;
  color: white;
}

.tweetBox {
  grid-area: tweetBox;
  background-color: #4472CA;
  color: white;
}

/* Border fixes */
.contactBorders {
  border: solid 1px #d1d1d1;
  border-left-color: transparent;
  border-top-color: transparent;
}

.innerBorders {
  border: 1px solid #d1d1d1;
  border-left-color: transparent;
  border-top-color: transparent;
}

.cardsContainer {
  border-left: solid #d1d1d1 1px;
}


.minisContainer {
  border-left: solid #d1d1d1 1px;
}

.miniBorders {
  border: solid #d1d1d1;
  border-width: 0px 1px 1px 0px;
}

.bottomLine{
  border-bottom: 1px solid #d1d1d1;
  }


/* header centering */

.textCentering {
  text-align: center;
}

.flexVertical {
  display: flex;
  flex-flow: column;
  justify-content: center;
}


.flexSwitch>*+* {
  margin-block-start: 0;
}


@media only screen and (max-width:950px) and (min-width:600px) {

  .flexSwitch {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .flexSwitch>*+* {
    margin-block-start: 1em;
  }
}

/* Images */

img {
  max-width: 100%;
  /* max-height: 100% */
}

/* CONTENTS */

/* Dividing line between sections */

.solid {
  border: solid #d1d1d1;
  border-width: 1px 1px 1px 1px;
  margin-bottom: 0;
  box-sizing: border-box;
  margin-top: 1vw;
}

.solid+* {
  margin-top: 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width:950px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media only screen and (max-width:600px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.thumbText>* {
  /* padding-left: 0.5em;
  padding-right: 0.5em; */
  /* max-width: 90%; */
}

/* Cases */

.linkBox {
  padding: 1rem;
}

@media only screen and (max-width:600px) {
  .linkBox {
    padding: 0.5rem;
  }
}


.linkBox:hover {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231c1c1c' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.caseContents {
  outline: solid 1px #d1d1d1;
  background: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width:1100px) {
  .caseContents {
    display: block;
  }
}

.caseContents>img {
  padding-left: 0em;
  padding-right: 0em;
  min-width: 100%;
}

/* Minis */

.minisContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width:600px) {
  .minisContainer {
    grid-template-columns: repeat(2, 1fr)
  }
}

.minisCase {
  background: white;
  border: 1px #d1d1d1 solid;
  height: 100%;
}

.thumb {
  padding-left: 0em;
  padding-right: 0em;
  min-width: 100%;
}

.shadow{
  /* box-shadow: 0px 0px 35px -10px rgba(209,209,209,0.95); */
  border: 1px solid #d1d1d1;
}

.solid > *{
  font-weight: 600;
}
