body {
  font-size: 100%;
}

/* max width setting */

/* .fullWidthControl {
  max-width: 1200px;
} */

.alien {
  max-width: 200px;
}

/* typography */
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('fonts/SpaceGrotesk-Bold.woff');
}

h1, h2 {
  font-family: 'SpaceGrotesk-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3, h4, h5 {
  font-family: 'DDINRegular';
  font-weight: normal;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: 1.44em;}

h5 {font-size: 1.2em;}

small, .text_small {font-size: 0.833em;}

p {
  font-family: 'DDINRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
}

.box > * + * {
  margin-top: 0;
}



@media only screen and (max-width:1215px) {

  .nameBox {
    background-color: orange;
  }
  h1 {
    margin-top: 0;
    font-size: 1.802em;
  }
  
  h2 {font-size: 1.602em;}
  
  h3 {font-size: 1.424em;}
  
  h4 {font-size: 1.266em;}
  
  h5 {font-size: 1.125em;}
  
  small, .text_small {font-size: 0.889em;}

  .alien {
    max-width: 170px;
  }
}



/* whole page fixes */
html, body {
  margin: 0px;
}
.headerGridContainer {
  margin: 1vw;
}

/* header Grid boxes */
.headerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nameBox nameBox nameBox nameBox nameBox navBar navBar navBar navBar" "aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox drawingBox drawingBox contactBox contactBox ";
}

.contactBox {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "emailBox" "tweetBox";
}

@media only screen and (max-width:900px) {
  .headerGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px auto 200px;
    grid-template-areas: "nameBox nameBox nameBox nameBox  navBar navBar navBar navBar" "aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox aboutmeBox" "drawingBox drawingBox contactBox contactBox contactBox contactBox contactBox contactBox";
  }
  .nameBox {
    background-color: goldenrod;
  }
}

@media only screen and (max-width:600px) {
  .headerGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 1fr 50vw;
    grid-template-areas: "nameBox nameBox" "navBar navBar" "aboutmeBox aboutmeBox" "drawingBox contactBox";
  }
  .nameBox {
    background-color: orangered;
  }
}

.box {
  padding: 0 0.5em 0 0.5em;
}

.nameBox {
  grid-area: nameBox;
  border: solid green;
  border-width: 1px 1px 1px 1px;
}

.navBar {
  grid-area: navBar;
  border: solid royalblue;
  border-width: 1px 1px 1px 0px;
}

.aboutmeBox {
  grid-area: aboutmeBox;
  border: solid red;
  border-width: 0px 1px 1px 1px;
  background-color: #F5F687;
}

.drawingBox {
  grid-area: drawingBox;
  border: solid orange;
  border-width: 0px 1px 1px 0px;
  padding: 1.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.contactBox {
  grid-area: contactBox;
  border: solid red;
  border-width: 0px 1px 1px 0px;
}

.contactBox > * {
  padding: 0 0.5em 0 0.5em;
}

.emailBox {
  grid-area: emailBox;
  border: solid red;
  border-width: 0px 0px 1px 0px;
  background-color: #B96B9F;
  color: white;
}

.tweetBox {
  grid-area: tweetBox;
  background-color: #FCFDD8;
}

.emailBox p {
  font-size: 0.95em;
}

.tweetBox p {
  font-size: 0.95em;
}

/* header Grid fixes */

/* .drawingBox {
  min-height: 22.222vw;
} */

/* header centering */

.textCentering {
  text-align: center;
}

.flexVertical {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* Images */

img {
  max-width: 100%;
  max-height: 100%
}

